header{
    position:sticky;
    color: black;
    top: 0%;
    bottom: 0%;
}
h2{
    color: black;
}
p{
    color: chocolate;
}
image{
    height: 400px;
    width: 400px;
}
body{
    background-color: burlywood;
    
}